
mat-card.articles__input {
  margin: 20px 50px 10px;
  width: 615px;
}

mat-card.articles__input > input {
  display:inline-block;
  width: 600px;
  height: 30px;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 10px;  
}

ul.list__cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

ul.list__cards li {
  width: 350px;
  list-style-type:none;  
}

mat-card.card__class {
  transition: box-shadow .25s;
}

mat-card.card__class:hover {
  border-color: #0000;
  box-shadow: 0 0.2rem 0.5rem #0000001a, 0 0 0.05rem #00000040;
}

mat-card-header.articles__image {
  margin-bottom: 10px;
  height: 200px;
  object-fit: cover;
}

div.articles__date {  
  padding: 0 0 10px 45px;
  position: relative;
}

div.articles__date::before {  
  content: 'date_range';  
  font-family: 'Material Icons';
  position: absolute;
  left: 20px;
  font-size: larger;
}

a.article__link {
  position: relative;
}

a.article__link:hover {
  opacity: 0.5;
}

a.article__link::after {
  content: 'forward';  
  font-family: 'Material Icons';
  position: absolute;
  font-size: larger;
}

mat-card-title.articles__title {
  margin-bottom: 10px;
  padding: 0 16px;
}

mat-card-content.articles__description {
 text-align: justify;
 margin-bottom: 10px;
}

mat-card-footer.articles__link {
  padding: 0 0 16px 16px;
}