
<mat-card class="articles__input">
  <input type="text" matInput name="search" [(ngModel)]="filteredArticle" placeholder="Search your article">
</mat-card>

<ul class="list__cards">
  <li *ngFor="let article of articlesContent | filter:filteredArticle;">
    <mat-card class="card__class">
      <mat-card-header class="articles__image">
        <img mat-card-image src={{article.image_url}} width="300">               
      </mat-card-header>  
      <div class="articles__date">
        {{article.published | convertDate}}
      </div>
      <mat-card-title class="articles__title">{{article.title}}</mat-card-title> 
      <mat-card-content class="articles__description">{{article.description | truncate}}</mat-card-content>    
      <mat-card-footer class="articles__link">
        <a [routerLink]="['/articles', article.id]" [state]="{ data: article }" class="article__link">
          Read more 
        </a>
      </mat-card-footer>
    </mat-card>

  </li>
</ul>