
mat-card.articles__input {
  margin: 20px 50px 10px;
}

ul.list__cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

ul.list__cards li {
  width: 350px;
  list-style-type:none;
}

mat-card-header.articles__image {
  margin-bottom: 10px;
  height: 200px;
  object-fit: cover;
}

div.articles__date {
  padding: 0 0 10px 20px;
}

mat-card-title.articles__title {
  margin-bottom: 10px;
  padding: 0 16px;
}

mat-card-content.articles__description {
 text-align: justify;
}

mat-card-footer.articles__link {
  padding: 0 0 16px 16px;
}