
ul.list__cards {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
}

ul.list__cards li {
  flex: 1 1 200px;
  list-style-type:none;
}

mat-card-header.articles__image {
  margin-bottom: 10px;
}

div.articles__date {
  padding: 0 0 10px 20px;
}

mat-card-title.articles__title {
  margin-bottom: 10px;
  padding: 0 16px;
}

mat-card-content.articles__description {
 text-align: justify;
}